// colors

$primary-color: #effff0;
$secondary-color: #fbfffc;
$text-color: #21333d;
$text-secondary-color: #5f6660;
$accent-color: #fffbfe;
$black: #121212;

// fonts
$montserrat : 'Monserrat', sans-serif;
$lato : 'Lato', sans-serif;