// adding partial sass files
@import './variables';
@import './mixins';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  overflow-x: hidden;
}

// typography
a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

.btn {
  font-family: $montserrat !important;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 5px;
  @include transition;
}

.btn-fill {
  color: #ffffff;
  background: $text-color;
  &:hover {
    background: $black;
    color: #ffffff;
  }
}

.btn-outline {
  border: 2px solid $text-color;
  color: $text-color;
  &:hover {
    background: $black;
    color: #ffffff;
    border: none;
  }
}

.text-center {
  text-align: center;
}

.divider {
  width: 50px;
  background-color: $text-color;
  height: 5px;
  margin: 10px 0;
}

ion-icon {
  margin-right: 10px;
  line-height: 1em;
}

.btn ion-icon {
  margin-left: 10px;
}

.small-caps {
  text-transform: uppercase;
  font-size: 14px;
  color: $text-color;
  letter-spacing: 1px;
  margin: 5px 0;
}

.main-header {
  font-size: 60px;
  font-weight: 300;
  color: $black;
}

.subheading {
  font-size: 45px;
  font-weight: 400;
  color: $black;
}

.subtitle {
  font-size: 25px;
  color: $black;
  font-weight: 400;
}

.paragraph {
  color: $text-secondary-color;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.row-flex {
  display: flex;
}


@media screen and (max-width:820px) {
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .divider {
    height: 3px;
    margin: 5px 0;
  }

  .main-header {
    font-size: 45px;
  }

  .subheading {
    font-size: 35px;
  }

  .subtitle {
    font-size: 20px;
  }
}

// main
html {
  scroll-behavior: smooth;
}

body {
  background-color: $secondary-color;
  font-family: $lato !important;
  font-size: 16px;
  padding-top: 50px;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 5%;
  background-color: $primary-color;
  @include d-flex;
}

#logo {
  width: 20%;
}

nav {
  width: 50%;
  & > ul {
    a:hover {
      color: $black;
      letter-spacing: .7px;
    }
    @include d-flex;
    .has-submenu {
      position: relative;
    }
    .submenu {
      display: none;
      position: absolute;
      top: 60px;
      width: 250px;
      background-color: #ffffff;
      padding: 20px 0;
      z-index: 9;
      li {
        padding: 10px 20px;
        overflow: hidden;
        &:hover {
          background: $text-color;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
  a {
    color: $text-color;
    font-weight: 500;
  }
}

@media screen and (max-width:820px) {
  header {
    display: none;
  }
}


.hero {
  padding: 50px 0;
  @include set-size;
  @include d-flex;
  &-text-container,
  &-image-container {
    width: 50%;
    overflow: hidden;
  }
  .hero-text-container p {
    color: $text-secondary-color;
    font-size: 20px;
    line-height: 30px;
  }
  .hero-buttons {
    @include d-flex;
    gap: 10px;
    margin: 20px 0;
    
  }
  .hero-image-container img {
    width: 500px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}


#about {
  margin-bottom: 50px !important;
  background: url('assets/blob_1.svg');
  background-attachment: fixed;
  @include set-size;
  @include d-flex;
  .about-image-container {
    width: 35%;
    img {
      width: 500px;
      max-width: 100%;
    }
  }
  .about-text-container {
    width: 60%;
    .row-flex {
      justify-content: space-between;
      margin: 20px 0;
      .split-3 {
        width: 32%;
      }
    }
  }
}

#statistics {
  width: 100%;
  padding: 50px 0;
  margin-bottom: 50px;
  background-color: $accent-color;
  text-align: center;
  
  .counter-container {
    width: 60%;
    margin: 0 auto;
    @include d-flex;
    div {
      padding: 20px 0;
    }
    span {
      display: block;
    }
    .counter {
      font-size: 45px;
    }
  }
}

.cta {
  padding: 100px 0;
  height: 350px;
  text-align: center;
  background: $primary-color;
  color: $black;
  margin-bottom: 50px;

  a {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
  }
}

#testimonial-container {
  background-color: $text-color;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 50px;
  color: #ffffff;
  h2 {
    color: #ffffff;
  }

  .slider-container {
    width: 100%;
    position: relative;

    ion-icon {
      font-size: 90px;
      font-weight: 300;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .next {
      right: 0;
    }
    .left {
      left: 0;
    }
  }

  .testimonial {
    background: #ffffff;
    color: $black;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    position: relative;
    @include d-flex;
    &::after {
      content: '"';
      position: absolute;
      top: -45px;
      right: 10%;
      font-size: 150px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: $text-color;
    }
    .testimonial-image-container {
      width: 35%;
    }
    .testimonial-text-container {
      width: 65%;
      .testimony {
        font-size: 25px;
        font-weight: 300;
        color: $text-secondary-color;
        margin-bottom: 20px;
      }
    }
  }
}

footer {
  background-color: $primary-color;
  color: $text-secondary-color;
  padding: 50px 5%;
  margin-top: 100px;
  font-size: 16px;

  .footer-split {
    margin-bottom: 20px;
    @include d-flex ($align: top);
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .footer-nav {
    li {
      margin-bottom: 10px;
      a {
        color: $text-secondary-color;
      }
    }
  }

  .split-3 {
    width: 32%;
    p {
      margin-bottom: 10px;
    }
  }

  .newsletter, input {
    width: 100%;
  }
  .newsletter input {
    padding: 20px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .newsletter input[type="email"] {
    background-color: $accent-color;
  }
  .newsletter input[type="submit"] {
    background-color: $text-color;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: $black;
    }
  }

  .copyright {
    margin-top: 20px;
    @include d-flex;
    a {
      display: inline;
    }
  }
}